<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=LAPTOP-J7UEFM80;Initial Catalog=TKMotors;Integrated Security=True" />
  <add name="ThePealKitchen.Properties.Settings.Setting" connectionString="Data Source=LAPTOP-J7UEFM80;Initial Catalog=TKMotors;Integrated Security=True;MultipleActiveResultSets=true"
   providerName="System.Data.SqlClient" />
  <add name="ThePealKitchen.Properties.Settings.Setting1" connectionString="Data Source=LAPTOP-J7UEFM80;Initial Catalog=TKMotors;Integrated Security=True;MultipleActiveResultSets=true"
   providerName="System.Data.SqlClient" />
  <add name="TKMOTORS.Properties.Settings.TKMotorsConnectionString"
   connectionString="Data Source=MSI;Initial Catalog=TKmotors;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="TKMOTORS.Properties.Settings.TKMotorsConnectionString1"
   connectionString="Data Source=LAPTOP-J7UEFM80;Initial Catalog=TKMotors;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>